<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <form role="form" class="form-horizontal" data-ng-init="get(id)" ng-submit="update()">
        <div class="form-group">
          <label class="control-label">Автор</label>
          <input type="text" class="form-control" ng-model="record.author" />
        </div>

        <div class="form-group">
          <label class="control-label">Тема сообщения</label>
          <input type="text" class="form-control" ng-model="record.subject" />
        </div>

        <div class="form-group">
          <label class="control-label">Текст</label>
          <textarea rows="5" class="form-control" ng-model="record.message"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
